app/build/
arqlib/build/
lib-zb/build/
lib-java/build/
.idear/
.gradle/



*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
